<article>
	<h2><a href="/post/{{{RowKey}}}/{{{toSeoTitle Title}}}">{{{Title}}}</a></h2>
  <div class="meta">{{{formatDate CreatedDate}}}</div>
	<div class="post-container">
		{{{Content}}}
	</div>
</article>