<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title>{{@blog.title}} &ndash; {{meta_title}}</title>
  <meta name="description" content="{{meta_description}}" />

  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

  <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
  {{ghost_head}}

</head>
<body class="{{body_class}}">
  {{navigation}}
  <div class="site-wrapper">
    <header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
      <h1 class="page-title">{{@blog.title}}</h1>
      <h2 class="page-description">{{@blog.description}}</h2>
    </header>
    {{{body}}}
    <footer class="site-footer clearfix">
      <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
    </footer>
  </div>
  {{ghost_foot}}
  <script type="text/javascript" src="{{asset "js/index.js"}}"></script>
</body>
</html>