<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Erlend.net blog</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Erlend Røsjø">
    <meta name="description" content="Erlend Røsjøs blogg">
    <!--[if lt IE 9]>
	    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript">
        (function () {
            var config = {
                kitId: 'yts4lkn',
                scriptTimeout: 3000
            };
            var h = document.getElementsByTagName("html")[0]; h.className += " wf-loading"; var t = setTimeout(function () { h.className = h.className.replace(/(\s|^)wf-loading(\s|$)/g, " "); h.className += " wf-inactive" }, config.scriptTimeout); var tk = document.createElement("script"), d = false; tk.src = '//use.typekit.net/' + config.kitId + '.js'; tk.type = "text/javascript"; tk.async = "true"; tk.onload = tk.onreadystatechange = function () { var a = this.readyState; if (d || a && a != "complete" && a != "loaded") return; d = true; clearTimeout(t); try { Typekit.load(config) } catch (b) { } }; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(tk, s)
        }
        )();
    </script>
</head>
<body>
    <header></header>
    <section role="main" class="container">
        <div class="logo-container">
            <a class="logo" href="/"></a>
        </div>
        <nav role="navigation">
            <ul>
                <li>@Html.ActionLink("Home", "Index", "Blog")</li>
                <li>@Html.ActionLink("About", "About", "Blog")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Blog")</li>
                <li>Archives</li>
            </ul>
        </nav>
        <article>
            @RenderBody()
        </article>
    </section>
    <footer>
        <p>&copy; @DateTime.Now.Year - Erlend.net blog</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
